body {
    background: #f1f1f1;
}

.hexon-admin {
    font-size: $font-size-base;

    form {
        margin-top: 1rem;

        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .card {
        padding: 0;
        width: 100%;
        margin: 0;
        min-width: auto;
        max-width: 100%;

        p {
            margin: 0;
            margin-bottom: 1rem;
        }
    }
}

.nav-pills {
    margin: 0 -0.5rem;
    .nav-item {
        margin-bottom: 0;
    }
    .nav-link {
        background-color: $white;
        margin: 0 0.5rem;
    }
}

.tab-content {
    margin-top: 1rem;
}

.alert-dismissible .close {
    padding: 0.5rem 1.25rem;
}